# Oracle Database 19c (nur lokale Entwicklung)
ORACLE_PWD=ChangeThisOracleSystemPassword1
ITZ_DB_USER=itz_app
ITZ_DB_PASSWORD=ChangeThisApplicationPassword1

# EAP Management API; nur im Docker-Netz erreichbar
EAP_MGMT_USER=itz-admin
EAP_MGMT_PASSWORD=ChangeThisEapManagementPassword1

# Getestete EAP-8.1-Update-7.1-Images. Nur bewusst gemeinsam aktualisieren.
EAP_BUILDER_IMAGE=registry.redhat.io/jboss-eap-8/eap81-openjdk21-builder-openshift-rhel9@sha256:ed4244965392a4db27fa869f02cb629ffe5c32eb11c2dba191c16415ef9820dd
EAP_RUNTIME_IMAGE=registry.redhat.io/jboss-eap-8/eap81-openjdk21-runtime-openshift-rhel9@sha256:2c6c82f312125c937d9ffe2b98a5efb144b4e436a4e7fbd4b6f119857493c6f3

# Keycloak; nur lokale Entwicklung
KEYCLOAK_ADMIN=admin
KEYCLOAK_ADMIN_PASSWORD=ChangeThisKeycloakAdminPassword1
ITZ_TEST_USERNAME=itz-user
ITZ_TEST_PASSWORD=itz-user
